/* Global */
:root {
    background-color: #36393f;
    max-height: 100vh;
    overflow-x: hidden;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 0;
    font-weight: bold;
    color: #dcddde;
    font-family: "gg sans",
        "Microsoft JhengHei",
        "微軟正黑體",
        "Microsoft JhengHei UI",
        "Microsoft YaHei",
        "微軟雅黑",
        "宋体",
        "SimSun",
        "Noto Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    outline: none;
    border: 0;
    user-select: none;
    white-space: nowrap;
}

/* General */
html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    max-width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2e3338;
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 10px;
}

textarea {
    resize: none;
    overflow: hidden;
}

.pointer, button {
    cursor: pointer;
}

#strikethrough, .strikethrough {
    fill: #ed4245
}

/* ==================================== */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #2f3136;
}

.arrow-down-icon > path {
    color: #8e9297;
}



.channel-name {
    text-align: center;
    padding-top: 10px;
    height: 50px;
    border-bottom: 2px solid #292b30;
    position: relative;
    cursor: pointer;
}

.channel-name:hover {
    background-color: #35373c;
}

.channel-name> .channel-name-text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    pointer-events: none;
}

.channel-name > .hamburger {
    position: absolute;
    top: 13px;
    right: 20px;
}

.channel-name > .hamburger > div {
    background-color: #cdced0;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 2px;
}

.server-menu {
    position: absolute;
    left: 82px;
    top: 60px;
    width: 220px;
    background-color: #111214;
    padding: 6px 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px 0;
    z-index: 1;
}

#menu-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}


.server-menu > ul > li {
    width: 204px;
    height: 32px;
    padding: 6px 8px;
    margin: 2px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #b8b9bf;
    border-radius: 2px;
    cursor: pointer;
}

.server-menu > ul > li:hover {
    background-color: #4752c4;
    color: #FFF;
}

/* add member */
.add-member-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 5px;
    box-shadow: rgb(199 200 206 / 30%) 0px 0px 0px 1px;
    background-color: #313338;
}

.add-member-wrapper>.add-member-title-div {
    height: 90px;
    padding: 24px 40px 0 24px;
    position: relative;
}

.add-member-title-div>.editor-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.add-member-title-div>.add-member-title {
    font-size: 16px;
    font-weight: 500;
    color: #F3F4F5;
    line-height: 20px;
    white-space: pre-wrap;
}

.add-member-wrapper>.add-member-name-div {
    height: 110px;
    padding: 0 24px;
    margin-bottom: 10px;
}

.add-member-name-div>.add-member-error>.add-member-error-message{
    display: none;
    color: #F38688;
    letter-spacing: 0.24px;
    font-weight: 700;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 12px;
}

.add-member-name-div>.add-member-name-title {
    font-size: 14px;
    color: #c7c8ce;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 12px;
}

.add-member-name-div>.add-member-input-wrapper {
    display: flex;
    flex-direction: column;
}

.add-member-name-div>.add-member-input-wrapper>.add-member-input {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    background-color: #1e1f22;
    color: #e0e1e5;
}

.add-member-wrapper>.add-member-submit-div {
    height: 65px;
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2b2d31;
    border-radius: 0 0 5px 5px;
}

.add-member-submit-div>.add-member-submit-button {
    height: 38px;
    width: 96px;
    padding: 2px 16px;
    background-color: #5865F2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .15s ease-out, color .15s ease-out;
}

.add-member-submit-div>.add-member-submit-button:hover {
    background-color: #4752c4;
}

.add-member-submit-div>.forbidden:hover,
.add-member-submit-div>.forbidden {
    background-color: #61648e;
    cursor: not-allowed;
}

.add-member-submit-button>.add-member-submit-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0 18px;
    color: #FFF;
}

/* delete member */

.delete-member-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 5px;
    box-shadow: rgb(199 200 206 / 30%) 0px 0px 0px 1px;
    background-color: #313338;
    padding-bottom: 24px;
    overflow: auto;
    max-height: 95vh;
}

.delete-member-wrapper>.delete-member-title-div {
    height: 60px;
    padding: 24px 40px 0 24px;
    position: relative;
}

.delete-member-title-div>.editor-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.delete-member-title-div>.delete-member-title {
    font-size: 16px;
    font-weight: 500;
    color: #F3F4F5;
    line-height: 20px;
    white-space: pre-wrap;
}

.delete-member-wrapper>.delete-member-list{
    margin: 12px 0;
    padding: 0 24px;
}

.delete-member-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.delete-member-element>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
}

.delete-member-element>div {
    font-size: 16px;
    font-weight: 500;
    user-select: text;
    margin: 0 15px;
    user-select: none;
}

.delete-member-element>.delete-button {
    height: 30px;
    width: 70px;
    padding: 2px 16px;
    background-color: #a12829;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .15s ease-out, color .15s ease-out;
    margin-left: auto;
}

.delete-member-element>.delete-button:hover {
    background-color: #ed4245;
}

.delete-button>.delete-button-text {
    font-weight: 500;
    font-size: 14px;
    margin: 0 18px;
    color: #FFF;
    pointer-events: none;
}

/* Leave Server */

.leave-server-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(199 200 206 / 30%) 0px 0px 0px 1px;
    width: 440px;
    height: 200px;
    border-radius: 5px;
    background-color: #313338;
}

.leave-server-wrapper>.leave-server-title-div {
    height: 56px;
    padding: 16px;
}

.leave-server-title-div>.leave-server-title {
    font-size: 20px;
    color: #f3f4f5;
    font-weight: 600;
}

.leave-server-wrapper>.leave-server-content{
    height: 74px;
    padding: 0 16px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e0e1e5;
    white-space: pre-wrap;
    line-height: 20px;
}

.leave-server-wrapper>.leave-server-confirm-div{
    height: 70px;
    background-color: #2b2d31;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.leave-server-confirm-div>.cancel-button {
    width: 96px;
    height: 38px;
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button>.cancel-button-text {
    font-size: 14px;
    color: #FFF;
}
.cancel-button:hover>.cancel-button-text {
    text-decoration: underline;
}

.leave-server-confirm-div>.leave-server-button {
    width: 102px;
    height: 38px;
    padding: 2px 16px;
    background-color: #da373c;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .15s ease-out;
    cursor: pointer;
}
.leave-server-confirm-div:hover>.leave-server-button {
    background-color: #a12829;
}

.leave-server-button>.leave-server-button-text {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.ownerIcon>path{
    fill: #e8ac30;
}

/* channel */
.arrow-down-icon-div {
    color: inherit;
}

.arrow-down-icon-div>svg {
    color: inherit;
}

.arrow-down-icon-div>svg>path {
    color: inherit;
}

.text-channel-label {
    display: flex;
    align-items: center;
}

.text-channel-label-text {
    font-size: 12px;
    /* color: #8e9297; */
    color: inherit;
}

.icon-pound>path {
    color: rgb(142, 146, 151);
}

.voice-channel-label {
    display: flex;
    align-items: center;
}

.voice-channel-label-text {
    font-size: 12px;
    /* color: #8e9297; */
    color: inherit;
}


/* ====== */

main {
    flex-grow: 1;
    height: 100%;
}

.main-container {
    max-width: calc(100vw - 240px - 72px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.channel-list {
    height: calc(100vh - 52px);
}

.name-block {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #292b30;
}

.label-channel-name-div {
    font-size: 22px;
    color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
}

.label-channel-name-icon {
    width: 24px;
    margin: 0 8px;
}
.label-channel-name-icon>svg>path {
    color: rgb(142, 146, 151);
}

.label-channel-name-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 3.5px;
}

.channel-type {
    padding-top: 16px;
}

.channel-label {
    font-size: 12px;
    color: #8e9297;
    padding: 5px;
}

.channel-label:hover {
    color: #d3d4d5;
}

.channel-name-label {
    width: calc(100% - 20px);
    height: 34px;
    font-size: 16px;
    color: #8e9297;
    cursor: pointer;
    margin: 0 auto 3px;
    font-weight: 400;
    border-radius: 5px;
    line-height: 30px;
    padding-left: 4px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.channel-name-label:hover {
    background-color: #3c3f45;
    color:#d3d4d5;
}

.channel-active, .channel-active:hover {
    background-color: #42464d;
    color:#fff;
}

.channel-name-label>svg {
    margin-right: 6px;
}

.voice-user-wrapper {
    width: 232px;
    /* height: 40px; */
    padding-left: 36px;
    padding-bottom: 3px;
}

.voice-user {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.voice-user:hover {
    background-color: #35373c;
}

.voice-user-avatar {
    width: 24px;
    height: 24px;
    margin: 3px 8px;
    background-color: #fff;
    border-radius: 50%;
}

.voice-username {
    font-size: 14px;
    color: #989AA2;
    font-weight: 500;
    line-height: 32px;
    width: 128px;
}

.setting {
    /* margin-left: auto; */
    height: 52px;
    background-color: #292b2f;
    padding: 0 8px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.avatar-wrapper {
    align-items: center;
    display: flex;
    margin: 0 8px 0 -2px;
    min-width: 120px;
    padding: 4px 0 4px 2px;
}

.avatar-wrapper:hover {
    background-color: #3f434a;
    border-radius: 3px;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #757e8a;
}

.avatar > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: #000;
}

.name-tag {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin-left: 8px;
    padding-top: 4px;
    width: 76px;
    height: 31px;
}

.username-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    line-height: 18px;
    font-weight: 900;
    font-size: 12.5px;
}

.control-buttons {
    display: flex;
    align-items: center;
    width: 96px;
    height: 32px;
    justify-content: flex-end;
}

.mute-button, .listen-button, .setting-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bbbe;
}

.mute-button:hover, .listen-button:hover, .setting-button:hover {
    background-color: #3f434a;
    border-radius: 3px;
    color: #dcddde;
}

svg {
    color: inherit;
}

path {
    color: inherit;
}

/* Chat */

.chat {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    user-select: text;
    flex-grow: 1;
}

.messages-wrapper {
    min-height: calc(100% - 142px);
    user-select: text;
    flex-grow: 1;
    display: flex;
}

#messages {
    user-select: text;
    flex-grow: 1;
    display: flex;
}

.message-list {
    max-width: calc(100vw - 72px - 240px);
    user-select: text;
    flex-grow: 1;
    overflow-y: auto;
}

.message-div {
    width: 100%;
    height: 48px;
    position: relative;
    user-select: text;
}

.message-div:hover {
    background-color: #32353b;
    user-select: text;
}

.message-user-avatar {
    position: absolute;
    left: 16px;
    height: 40px;
    width: 40px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: #000;
}

.message-content-div {
    margin-top: 17px;
    padding: 2px 48px 2px 72px;
    height: 70px;
    user-select: text;
}

.message-header {
    height: 22px;
    user-select: text;
}

.message-user {
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
    line-height: 22px;
    cursor: pointer;
}

.message-user:hover {
    text-decoration: underline;
}

.message-time {
    color: rgb(163, 166, 170);
    font-size: 12px;
    margin-left: 4px;
    line-height: 22px;
    user-select: text;
    cursor: default;
}

.message-content {
    color: #dcddde;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chatInput {
    /* margin-top: 17px; */
    padding: 0 16px;
    margin-bottom: 24px;
}

#message-input {
    width: 100%;
    height: auto;
    min-height: 50px;
    display: block;
    background-color: #40444b;
    font-size: 16px;
    /* padding-top: 14px; */
    padding-left: 20px;
    color: #d3d4d5;
    border-radius: 10px;
    font-weight: 400;
}

/* .same-user-texting {
    margin-top: 0;
    height: auto
}

.same-user-texting > img, .same-user-texting>.message-header {
    display: none;
} */


/* Video */
.video {
    height: calc(100vh - 50px);
    background-color: black;
    width: 100%;
    display: none;
}

.videos-wrapper {
    height: 100%;
    position: relative;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px - 72px - 16px);
    width: 100%;
    flex-wrap: wrap;
}

.video-wrapper {
    width: 45%;
    margin: 8px;
    aspect-ratio: 1.777794204612655/1;
    border-radius: 8px;
    background-color: #202225;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 1.777794204612655/1;
    object-fit: cover;
    /* display: none */
}

video:hover {
    outline: -webkit-focus-ring-color auto 0;
}

.channel-username-label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    height: 32px;
    background-color: #34383f;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    line-height: 20px;
}

.video-wrapper>.message-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.video-wrapper>.message-wrapper>.one-people-message {
    font-size: 16px;
    color: #FFF;
}

.voice-button-wrapper {
    height: 56px;
    width: 56px;
    background-color: #2f3136;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px
}

.audio-button-wrapper {
    background-color: #f2f3f5;
}

.audio-button-wrapper>button>div>svg>path {
    fill: #060607;
}

.voice-button-wrapper:hover {
    background-color: #202225;
}

.audio-button-wrapper:hover {
    background-color: #f2f3f5;
}

.voice-button-wrapper>button {
    background-color: inherit;

}

.leave-button-wrapper, .leave-button-wrapper:hover {
    background-color: #ed4245;
}

.toggles {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 16px 16px;
    height: 72px;
}

.camera-active {
    background-color: #f2f3f5;
}

.camera-active:hover {
    background-color: #f2f3f5 ;
}

.camera-active>button>div>svg>path {
    fill: #060607;
}

.audio-active {
    background-color: #2f3136;
}

.audio-active:hover {
    background-color: #202225;
}

.audio-active>button>div>svg>path {
    fill: #dcddde;
}

.leave-button-wrapper>button>div>svg>path {
    fill: #fff;
}

.button-forbidden {
    background-color: #18191b;
}

.button-forbidden>button>div>svg>path {
    fill: #808080;
}

.button-forbidden:hover {
    background-color: #101113;
    cursor: not-allowed;
}

.button-forbidden>button {
    cursor: not-allowed;
}

/* Preload */

#preload {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preload > img {
    object-fit: contain;
    height: 33vw;
    /* width: 100%; */
}

/* Light scrollbar */

.light-scrollbar {
    background-color: #1e1f22;
    min-width: 72px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-scrollbar>.my-area {
    height: 48px;
    margin-bottom: 8px;
    width: 100%;
}

.light-scrollbar>.server-separator {
    width: 32px;
    height: 1px;
    border-radius: 1px;
    background-color: #35363c;
    margin-bottom: 8px;
}

.light-scrollbar>.server-area {
    width: 100%;
}

.server-wrapper {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.server {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #e0e1e5;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    color: #e0e1e5;
    transition: background-color .15s ease-out, color .15s ease-out;
    cursor: pointer;
}

.server:hover, .server-active {
    background-color: #5865f2;
    border-radius: 18px;
    fill: #FFF;
    color: #FFF;
}

.server-active{
    cursor: default;
}

.pill {
    position: absolute;
    height: 0;
    width: 8px;
    left: -4px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border-radius: 4px;
    transition: height .2s ease-out;
}

.server:hover + .pill {
    height: 20px;
}

.server-active + .pill, .server-active:hover + .pill  {
    height: 40px;
}

#me-server {
    cursor: default;
}

#me-server + .pill, #me-server:hover + .pill {
    display: none;
}

#me-server:hover {
    background-color: #000;
}

#me-server:hover>svg>path {
    fill: #FF5;
}

.server > svg {
    fill: inherit;
}

.server > svg > path {
    fill: inherit;
}

.create-server {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-bottom: 8px;
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #23a55a;
    transition: background-color .15s ease-out;
}

.create-server:hover {
    background-color: #23a55a;
    border-radius: 18px;
    fill: #FFF;
}

.create-server > svg {
    fill: inherit;
}

.create-server > svg > path {
    fill: inherit;
}

/* Create server */

.create-server-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(199, 200, 206, 0.298) 0px 0px 0px 1px;
}

.create-server-wrapper>.create-server-title-div {
    position: relative;
    height: 102px;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
}

.create-server-title-div>.editor-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.create-server-title-div>.create-server-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #060607;
    line-height: 30px;
}

.create-server-title-div>.create-server-slogan {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #4e5058;
}

.create-server-wrapper>.create-server-name-div {
    height: 160px;
    margin: 30px 0;
    padding: 30px 16px 0;
}

.create-server-name-div>.create-server-error {
    margin-bottom: 8px;
}

.create-server-error>.create-server-error-message {
    color: #a12829;
    letter-spacing: 0.24px;
    font-weight: 700;
    font-size: 12px;
    font-style: italic;
}

.create-server-name-div>.create-server-name-title {
    color: #4e5058;
    letter-spacing: 0.24px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 8px;
}

.create-server-name-div>.create-server-input-wrapper {
    display: flex;
    flex-direction: column;
}

.create-server-input-wrapper>.create-server-input {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    background-color: #e9eaed;
    color: #313338;
}

.create-server-wrapper>.create-server-submit-div {
    height: 78px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f3f4f5;
    border-radius: 0 0 5px 5px;
}

.create-server-submit-div>.create-server-submit-button {
    height: 38px;
    width: 96px;
    padding: 2px 16px;
    background-color: #5865F2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .15s ease-out, color .15s ease-out;
}

.create-server-submit-div>.create-server-submit-button:hover {
    background-color: #4752c4;
}

.create-server-submit-div>.forbidden, .create-server-submit-div>.forbidden:hover{
    background-color: #a6acf4;
    cursor: not-allowed;
}

.create-server-submit-button>.create-server-submit-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0 18px;
    color: #FFF;
}


.main-card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
}

.main-card-profile-card {
    width: 340px;
    height: 331px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 24%);
    background: #232428;
    position: relative;
    justify-content: space-between;
}

.main-card-profile-card>.main-card-decorator-bar {
    height: 60px;
    background-color: #747c8b;
    border-radius: 8px 8px 0 0;
}

.main-card-profile-card>.main-card-avatar-wrapper {
    position: absolute;
    height: 94px;
    width: 94px;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #1e1f22;
    left: 16px;
    top: 11px;
    overflow: hidden;
}

.main-card-user-background {
    width: 308px;
    height: 200px;
    margin: 28px 16px 16px;
    padding: 0 12px;
    background-color: #111214;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.main-card-profile-card>.main-card-avatar-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    background-color: #000;
}

.main-card-user-background>.main-card-username-wrapper {
    border-bottom: 1px solid rgba(78,80,88,0.48);
}

.main-card-user-background>.main-card-aboutme {
    padding-top: 12px;
}

.main-card-user-background>.main-card-username-wrapper>.main-card-username {
    height: 36px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #f3f4f5;
    padding-top: 12px;
    margin-bottom: 12px;
    user-select: text;
}

.main-card-user-background>.main-card-aboutme>.main-card-aboutme-title {
    line-height: 16px;
    color: #f3f4f5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.24px;
    margin-bottom: 6px;
}

.main-card-user-background>.main-card-aboutme>.main-card-aboutme-content {
    font-size: 14px;
    color: #F3F4F5;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    user-select: text;
    overflow-y: auto;
    max-height: 100px;
}